.followersCard{
    display:flex;
    flex-direction: column;
    gap:0.6rem;
    overflow-y:scroll;
    height:34vh;
}
.followersCard >h3{
    margin-left: 7px;
}
.followers,.flsInnerDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:0.6rem;
}
.flsInnerDiv>img{
    height: 50px;
    width:50px;
}
.followerName{
    display:flex;
    flex-direction: column;
}
#follow-btn{
    height:2rem;
    width:5rem;
    margin-right:1px;
    font-weight: bold;
}
