:root{
  --black:#242d49;
  --gray:rgba(36,45,73,0.65);
  --profileShadow:0px 4px 17px 2px rgba(0,0,0,0.25);
  --hrColor:#cfcdcd;
  --photo:#4CB256;
  --video:#4A4EB7;
  --location:#EF5757;
  --schedule:#d28e07;
  --cardColor:rgba(255,255,255,0.64);
  --buttonBg:linear-gradient(98.63deg,#f9a225 0%,#f95f35 100%);
  --inputColor:rgba(40,52,62,0.07);
  --yellow:#f5c32c;
  --orange:#fca61f;
  --bgColor:linear-gradient(106.23deg,#f99827,#f95f35 100%);
}

.App{
  overflow:hidden;
  color:var(--black);
  background-color:#f3f3f3;
  padding: 1rem;
}

.blur{
 position:absolute;
 width: 22rem;
 height: 14rem;
 border-radius: 50%;
 background-color:#eaa6f0;
 filter:blur(72px);
 -webkit-filter:blur(75px);
}
.blur1{
  top: -18%;
  right:0;
}
.blur2{
 top:36%;
 left:-8rem;
}
.btn{
 display: flex;
 align-items: center;
 justify-content: center;
 color:white;
 border-radius:0.5rem;
 background:var(--buttonBg);
 transition: all 0.1s ease-out;
 border:2px solid #f99827;
}
.btn:hover{
  cursor:pointer;
  color:var(--orange);
  background: white;
}